body{
    margin: 0;
    white-space: none;
}
img {
  width: 100vw;
  height: 100vh;
 
}
#main-container {
  width: 100vw;
  height: 100vh;
}
#display-menu {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition-timing-function: ease;
  transition-delay: 3s;
}

#nav-item {
    position: relative; /* Sit on top of the page content */
    display: flex;
    background: green; /* Hidden by default */
    width: 120px; /* Full width (cover the whole page) */
    height: 30px; /* Full height (cover the whole page) */
    color: white; 
}

#display-content {
  display: none;
}